$main_brown: #907c4B;
$main_blue: #55828e;
$main_red: #c02222;
$background_white: #fff;

$main_font: "Inter";
$second_font: "PFBagueSansPro";

.d_flex{
  display: flex
}
.d_none{
  display: none
}

body{
  background-color: $background_white;
}

section:not(:first-child){
  padding: 50px 0;
}

.section_title{
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}

.section_title-text{
  font-family: $main_font;
  font-size: 25px;
  font-weight: 400;
  color: $main_red;  
  text-align: center;
  text-transform: uppercase;  
  z-index: 2;
  background-color: $background_white;
  padding: 0 40px;
  position: relative
}

.section_title{
  h2:after{
    content: '';
    display: block;
    height: 1px;
    border: none;
    background-color: $main_red;
    z-index: 1;
    width: 100%  ;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
  }      
}    

a {
  &.btn {
    font-family: $second_font;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    border: 2px solid $main_red;
    padding: 5px 10px;
    border-radius: 10px;
    color: $main_red;
  }
}

p {
  &.text_block{
    font-family: $second_font;
    font-weight: 400;
    font-size: 20px;
  }
}

.slick-dots {

  li {

    button:before{
      color: $main_blue!important
    }

    &.slick-active {
      button:before {
        color: $main_red!important
      }
    }

  }
}

.slider_controls{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slick-prev,
.slick-next{
  position: static !important;;
  top: 0 !important;;
  transform: none!important;
}

.slick-prev:before, 
.slick-next:before,
.slick-m-prev:before, 
.slick-m-next:before{
  color: $main_blue!important;
}



.slide-m-dots {
  .slick-dots{
    position: static;
    display: flex;
    align-items: center;
  }
}

