@font-face {
  font-family:'PFRegalTextPro';
  src: url('../fonts/PFRegalTextPro.eot');
  src: url('../fonts/PFRegalTextPro.eot?#iefix') format('embedded-opentype'), url('../fonts/PFRegalTextPro.woff2') format('woff2'), url('../fonts/PFRegalTextPro.woff') format('woff'), url('../fonts/PFRegalTextPro.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal
}
  

@font-face {
  font-family:'PFRegalTextPro';
  src: url('../fonts/PFRegalTextProBold.eot');
  src: url('../fonts/PFRegalTextProBold.eot?#iefix') format('embedded-opentype'),url('../fonts/PFRegalTextProBold.woff2') format('woff2'),url('../fonts/PFRegalTextProBold.woff') format('woff'),url('../fonts/PFRegalTextProBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal
}
  
@font-face {
  font-family:'PFRegalTextPro';
  src: url('../fonts/PFRegalTextProMedium.eot');
  src: url('../fonts/PFRegalTextProMedium.eot?#iefix') format('embedded-opentype'),url('../fonts/PFRegalTextProMedium.woff2') format('woff2'),url('../fonts/PFRegalTextProMedium.woff') format('woff'),url('../fonts/PFRegalTextProMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal
}
 

@font-face {
  font-family:'PFRegalTextPro';
  src: url('../fonts/PFRegalTextProRegularB.eot');
  src: url('../fonts/PFRegalTextProRegularB.eot?#iefix') format('embedded-opentype'),url('../fonts/PFRegalTextProRegularB.woff2') format('woff2'),url('../fonts/PFRegalTextProRegularB.woff') format('woff'),url('../fonts/PFRegalTextProRegularB.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal
}
 
@font-face {
  font-family:'PFBagueSansPro';
  src: url('../fonts/PFBagueSansProPro.eot');
  src: url('../fonts/PFBagueSansProPro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFBagueSansProPro.woff2') format('woff2'),
  url('../fonts/PFBagueSansProPro.woff') format('woff'),
  url('../fonts/PFBagueSansProPro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'PFBagueSansPro';
  src: url('../fonts/PFBagueSansProLight.eot');
  src: url('../fonts/PFBagueSansProLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFBagueSansProLight.woff2') format('woff2'),
  url('../fonts/PFBagueSansProLight.woff') format('woff'),
  url('../fonts/PFBagueSansProLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'PFBagueSansPro';
  src: url('../fonts/PFBagueSansProThin.eot');
  src: url('../fonts/PFBagueSansProThin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFBagueSansProThin.woff2') format('woff2'),
  url('../fonts/PFBagueSansProThin.woff') format('woff'),
  url('../fonts/PFBagueSansProThin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Inter';
  src: url('../fonts/InterLight.eot');
  src: url('../fonts/InterLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/InterLight.woff2') format('woff2'),
  url('../fonts/InterLight.woff') format('woff'),
  url('../fonts/InterLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Inter';
  src: url('../fonts/InterMedium.eot');
  src: url('../fonts/InterMedium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/InterMedium.woff2') format('woff2'),
  url('../fonts/InterMedium.woff') format('woff'),
  url('../fonts/InterMedium.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Inter';
  src: url('../fonts/InterRegular.eot');
  src: url('../fonts/InterRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/InterRegular.woff2') format('woff2'),
  url('../fonts/InterRegular.woff') format('woff'),
  url('../fonts/InterRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Inter';
  src: url('../fonts/InterSemiBold.eot');
  src: url('../fonts/InterSemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/InterSemiBold.woff2') format('woff2'),
  url('../fonts/InterSemiBold.woff') format('woff'),
  url('../fonts/InterSemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

